*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background-color:rgb(207, 236, 234);
}
.heading{
 font-size: 30px;
 font-weight: 20;
 color: rgb(21, 22, 22);
 text-align: center;
 padding:10px;
 font-weight:bolder;
}
.container{
    display: grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    align-items: flex-start;
    padding:5px 6%;
}
.container .main_video{
    background-color: khaki;
    padding:8px;
}
.container .main_video video{
    width: 100%;
}
.container .main_video .title{
font-size: 20px;
 text-align:left;
 padding-top:8px;
  padding-top: 10px;
}
.container .video_list{
    background-color:lightcyan;
    padding:10px;
    height: 500px;
    overflow-y: scroll;
}
.container .video_list ::-webkit-scrollbar{
    width: 7px;
}
.container .video_list ::-webkit-scrollbar-track{
    width:6px;
}
.container .video_list .Vid video{
    width: 100px;   
}
.container .video_list .Vid {
    display: flex;
    padding:10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
.container .video_list .Vid:hover{
    background-color: rgb(168, 197, 226);
}
.container .video_list .Vid:active{
    background-color: rgb(198, 211, 85);
}

@media(max-width:768px){
.container{
    grid-template-columns: 1fr;
    padding:10px;
}
}
