*{box-sizing: border-box;
font-family: Calibri, Helvetica, sans-serif;  
}

label{
    font-size: 20px;
}
:-ms-input-placeholder
{
  font-size: 30px;

}
input[type=text], input[type=email],input[type=password],textarea{
    background-color:rgba(167, 167, 209, 0.7);
    margin:3px;
    padding: 5px;
   width:100%;
   border-style: none;
}
select,input[type='date']{
    width:20%;
}
input[type=text]:hover,  input[type=email]:hover,input[type=password]:hover{
    background-color:powderblue;
  }

 .btn{
    cursor: pointer;
    font-size: 20px;
    border-style: none;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(10, 235, 59);
 }
 .btn:hover{
     background-color:thistle ;
 }